---
# linux_postinstall autofs

- name: "Autofs: Debug lp_autofs_debug={{ lp_autofs_debug }}"
  when: lp_autofs_debug | bool
  tags: lp_autofs_debug
  vars:
    msg: |-
      ansible_os_family: {{ ansible_facts['os_family'] }}
      lp_autofs_install: {{ lp_autofs_install }}
      lp_autofs_enable: {{ lp_autofs_enable }}
      lp_autofs_flush_handlers: {{ lp_swap_flush_handlers }}
      lp_autofs_rescue_end_host: {{ lp_swap_rescue_end_host }}
      lp_autofs_service: {{ lp_autofs_service }}
      lp_autofs_conf_file: {{ lp_autofs_conf_file }}
      lp_autofs_conf:
        {{ lp_autofs_conf | to_nice_yaml(indent=2) | indent(2) }}
      lp_autofs_master_conf_file: {{ lp_autofs_master_conf_file }}
      lp_autofs_master_conf:
        {{ lp_autofs_master_conf | to_nice_yaml(indent=2) | indent(2) }}
      lp_autofs_misc_conf_file: {{ lp_autofs_misc_conf_file }}
      lp_autofs_misc_conf:
        {{ lp_autofs_misc_conf | to_nice_yaml(indent=2) | indent(2) }}
      lp_autofs_packages:
        {{ lp_autofs_packages | to_nice_yaml(indent=2) | indent(2) }}
      lp_backup_conf: {{ lp_backup_conf }}
  ansible.builtin.debug:
    msg: "{{ '{}'.format(msg) }}"

- name: "Autofs: Install packages"
  when: lp_autofs_install | bool
  tags: lp_autofs_packages
  vars:
    ll_ipkg_list: "{{ lp_autofs_packages }}"
    ll_ipkg_state: "{{ lp_package_state }}"
    ll_ipkg_autoremove: "{{ lp_packages_autoremove | bool }}"
    ll_ipkg_rescue_end_host: "{{ lp_packages_rescue_end_host | bool }}"
    ll_debug: "{{ lp_autofs_debug | bool }}"
  ansible.builtin.import_role:
    name: vbotka.linux_lib
    tasks_from: install_package.yml

- name: Configure autofs
  notify: reload autofs
  block:

    - name: "Autofs: Configure {{ lp_autofs_conf_file }}"
      tags: lp_autofs_conf
      ansible.builtin.lineinfile:
        dest: "{{ lp_autofs_conf_file }}"
        regexp: ^\s*{{ item.key }}\s*=\s*(.*)$
        line: "{{ item.key }} = {{ item.value }}"
        backup: "{{ lp_backup_conf }}"
      loop: "{{ lp_autofs_conf }}"

    - name: "Autofs: Configure {{ lp_autofs_master_conf_file }}"
      tags: lp_autofs_master_conf
      ansible.builtin.lineinfile:
        dest: "{{ lp_autofs_master_conf_file }}"
        regexp: ^\s*{{ item.key }}\s*(.*)$
        line: "{{ item.key }} {{ item.value }}"
        backup: "{{ lp_backup_conf }}"
      loop: "{{ lp_autofs_master_conf }}"

    - name: "Autofs: Configure {{ lp_autofs_misc_conf_file }}"
      tags: lp_autofs_misc_conf
      ansible.builtin.lineinfile:
        dest: "{{ lp_autofs_misc_conf_file }}"
        regexp: ^\s*{{ item.key }}\s*(.*)$
        line: "{{ item.key }} {{ item.value }}"
        backup: "{{ lp_backup_conf }}"
      loop: "{{ lp_autofs_misc_conf }}"

- name: Service autofs
  tags: lp_autofs_service
  block:

    - name: "Autofs: Service {{ state ~ ' and ' ~ enable }}"
      register: result
      vars:
        enabled: "{{ lp_autofs_enable | bool }}"
        state: "{{ lp_sutofs_state | d(default_state) }}"
        default_state: "{{ enabled | ternary('started', 'stopped') }}"
        enable: "{{ enabled | ternary('enabled', 'disabled') }}"
      ansible.builtin.service:
        name: "{{ lp_autofs_service }}"
        state: "{{ state }}"
        enabled: "{{ enabled }}"

    - name: "Autofs: Debug service lp_autofs_debug={{ lp_autofs_debug }}"
      when: lp_autofs_debug | bool
      ansible.builtin.debug:
        var: result

  rescue:

    - name: "Autofs: Print errors"
      ansible.builtin.debug:
        msg: |
          [ERR] task {{ ansible_failed_task.name }} failed. End host.
          ansible_failed_task:
            {{ ansible_failed_task | to_yaml(indent=2) | indent(2) }}
          ansible_failed_result:
            {{ ansible_failed_result | to_yaml(indent=2) | indent(2) }}

    - name: "Autofs: End host"
      when: lp_autofs_rescue_end_host | bool
      ansible.builtin.meta: end_host

    - name: "Autofs: Clear host errors"
      ansible.builtin.meta: clear_host_errors

- name: "Autofs: Flush handlers"
  ansible.builtin.meta: flush_handlers
  when: lp_autofs_flush_handlers | bool

# EOF
