---
# linux_postinstall hosts

- name: "Hosts: Debug lp_hosts_debug={{ lp_hosts_debug }}"
  when: lp_hosts_debug | bool
  tags: lp_hosts_debug
  vars:
    msg: |-
      ansible_os_family: {{ ansible_facts['os_family'] }}
      lp_hosts_sanity: {{ lp_hosts_sanity }}
      lp_hosts_default_override:
        {{ lp_hosts_default_override | to_yaml(indent=2) | indent(2) }}
      lp_hosts_default:
        {{ lp_hosts_default | to_yaml(indent=2) | indent(2) }}
      lp_hosts_template: {{ lp_hosts_template }}
      lp_hosts:
        {{ lp_hosts | to_yaml(indent=2) | indent(2) }}
      lp_backup_conf: {{ lp_backup_conf }}
  ansible.builtin.debug:
    msg: "{{ '{}'.format(msg) }}"

- name: "Hosts: Sanity"
  when: lp_hosts_sanity | bool
  tags: lp_hosts_sanity
  block:

    - name: "Hosts: Sanity valid IP"
      ansible.builtin.assert:
        that: (lp_hosts | map(attribute='ip') | map('ansible.utils.ipaddr')) is all
        fail_msg: "[ERR] Invalid IP address."

    - name: "Hosts: Sanity unique FQDN"
      vars:
        no_records: "{{ lp_hosts | length }}"
        no_hosts: "{{ lp_hosts | map(attribute='fqdn') | list | unique | length }}"
      ansible.builtin.assert:
        that: no_records == no_hosts
        fail_msg: "[ERR] FQDN not unique."

- name: "Hosts: Configure hosts in /etc/hosts"
  tags: lp_hosts_conf
  ansible.builtin.template:
    src: "{{ lp_hosts_template }}"
    dest: /etc/hosts
    owner: root
    group: root
    mode: "0644"
    backup: "{{ lp_backup_conf }}"

# EOF
