---
# linux_postinstall hostname

# TODO:
# 1) SET/DONT_SET hostname via DHCP
# /etc/dhcp/dhclient.conf
# #send host-name = gethostname();
# request host-name = "myhostname";
# https://askubuntu.com/questions/104918/how-to-get-the-hostname-from-a-dhcp-server
# http://blog.schlomo.schapiro.org/2013/11/setting-hostname-from-dhcp-in-debian.html
# https://askubuntu.com/questions/757423/how-to-force-dhcp-client-to-allow-a-self-defined-domain-name

- name: "Hostname: Configure hostname in /etc/hostname"
  ansible.builtin.template:
    src: hostname.j2
    dest: /etc/hostname
    owner: root
    group: root
    mode: "0644"
    backup: "{{ lp_backup_conf }}"
  when:
    - lp_hostname|length > 0
    - ansible_os_family == 'Debian'
#  notify: set hostname

- name: "Hostname: Configure hostname"
  ansible.builtin.hostname:
    name: "{{ lp_hostname }}"
  when: lp_hostname|length > 0

# EOF
