---
# linux_postinstall LaTeX

- name: "latex: Install packages"
  ansible.builtin.include_tasks:
    file: fn/install-package.yml
    apply:
      tags: lp_latex_packages
  loop: "{{ lp_latex_packages }}"
  when: lp_latex_install|bool
  tags: lp_latex_packages

- name: "latex: Create directory /usr/share/texmf/tex/latex"
  ansible.builtin.file:
    state: directory
    path: /usr/share/texmf/tex/latex
    mode: '0755'
  tags: lp_latex_dir

- name: "latex: Create directories for macros"
  ansible.builtin.file:
    state: directory
    path: "{{ item.dest }}"
    mode: '0755'
  loop: "{{ lp_latex_macros }}"
  tags: lp_latex_macros

- name: "latex: Download macros"
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ item.dest }}"
    timeout: "{{ lp_latex_download_timeout }}"
  loop: "{{ lp_latex_macros }}"
  ignore_errors: "{{ lp_latex_get_url_ignore_errors }}"  # noqa ignore-errors
  changed_when: false
  tags: lp_latex_labels

# Note
# get_url: check mode reports changes with force enabled
# https://github.com/ansible/ansible/issues/25418#issuecomment-307208773
# https://github.com/ansible/ansible/issues/25418

# [TODO]
# 1) Compile and register labels.sty
# cd /usr/share/texmf/tex/latex/labels/
# latex labels.ins
# texhash /usr/share/texmf

# EOF
...
