---
# linux_postinstall LaTeX

- name: "Latex: Debug lp_latex_debug={{ lp_latex_debug }}"
  when: lp_latex_debug | bool
  tags: lp_latex_debug
  vars:
    msg: |-
      ansible_os_family: {{ ansible_facts['os_family'] }}
      lp_backup_conf: {{ lp_backup_conf }}
      lp_latex_install: {{ lp_latex_install }}
      lp_latex_packages:
        {{ lp_latex_packages | to_nice_yaml(indent=2) | indent(2) }}
      lp_latex_macros:
        {{ lp_latex_macros | to_nice_yaml(indent=2) | indent(2) }}
  ansible.builtin.debug:
    msg: "{{ '{}'.format(msg) }}"

- name: "Latex: Install packages"
  when: lp_latex_install | bool
  tags: lp_latex_packages
  vars:
    ll_ipkg_list: "{{ lp_latex_packages }}"
    ll_ipkg_state: "{{ lp_package_state }}"
    ll_ipkg_autoremove: "{{ lp_packages_autoremove | bool }}"
    ll_ipkg_rescue_end_host: "{{ lp_packages_rescue_end_host | bool }}"
    ll_debug: "{{ lp_latex_debug | bool }}"
  ansible.builtin.import_role:
    name: vbotka.linux_lib
    tasks_from: install_package.yml

- name: "Latex: Create directory /usr/share/texmf/tex/latex"
  tags: lp_latex_dir
  ansible.builtin.file:
    state: directory
    path: /usr/share/texmf/tex/latex
    mode: "0755"

- name: "Latex: Create directories for macros"
  tags: lp_latex_macros
  ansible.builtin.file:
    state: directory
    path: "{{ item }}"
    mode: "0755"
  loop: "{{ lp_latex_macros | map(attribute='dest') | unique }}"

- name: "Latex: Download macros"
  tags: lp_latex_labels
  ignore_errors: "{{ lp_latex_get_url_ignore_errors }}" # noqa ignore-errors
  changed_when: false
  environment:
    CRYPTOGRAPHY_OPENSSL_NO_LEGACY: '1'
  ansible.builtin.get_url:
    url: "{{ item.url }}"
    dest: "{{ item.dest }}"
    mode: "0644"
    timeout: "{{ lp_latex_download_timeout }}"
  loop: "{{ lp_latex_macros }}"
  loop_control:
    label: "{{ item.url }}"

# Note
# get_url: check mode reports changes with force enabled
# https://github.com/ansible/ansible/issues/25418#issuecomment-307208773
# https://github.com/ansible/ansible/issues/25418

# [TODO]
# 1) Compile and register labels.sty
# cd /usr/share/texmf/tex/latex/labels/
# latex labels.ins
# texhash /usr/share/texmf

# EOF
