---
# linux_postinstall pm_utils

# TODO:
# 1) add variables: lp_pm_powerd, lp_pm_configd
# 2) add templates: pm-powerd.j2, pm-configd.j2
# 3) add cases: resume, thaw, suspend, hibernate
# 4) install pm_utils

- name: "Pm_utils: Configure /etc/pm/sleep.d"
  ansible.builtin.template:
    src: pm-sleepd.j2
    dest: /etc/pm/sleep.d/{{ item.value.file }}
    owner: root
    group: root
    mode: "0755"
    backup: "{{ lp_backup_conf }}"
  with_dict: "{{ lp_pm_sleepd|default({}) }}"
  when: item.value.file|length > 0

# EOF
