---
# linux-postinstall smart

- name: "smart: Install packages"
  include_tasks: fn/install-package.yml
  loop: "{{ lp_smart_packages }}"
  tags: lp_smart_packages

- name: "smart: Configure {{ lp_smart_conf_file }}. Do not scan for devices"
  lineinfile:
    state: absent
    dest: "{{ lp_smart_conf_file }}"
    regexp: "^DEVICESCAN"
    owner: "{{ lp_smart_conf_owner }}"
    group: "{{ lp_smart_conf_group }}"
    mode: "{{ lp_smart_conf_mode }}"
    create: yes
    backup: "{{ lp_backup_conf }}"
  when: not lp_smart_devicescan|bool
  notify: reload smart
  tags: lp_smart_conf

- name: "smart: Configure devices in {{ lp_smart_conf_file }}"
  lineinfile:
    dest: "{{ lp_smart_conf_file }}"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    owner: "{{ lp_smart_conf_owner }}"
    group: "{{ lp_smart_conf_group }}"
    mode: "{{ lp_smart_conf_mode }}"
    create: yes
    backup: "{{ lp_backup_conf }}"
  loop: "{{ lp_smart_devices }}"
  notify: reload smart
  tags: lp_smart_conf

- name: "smart: Start and enable smart"
  service:
    name: "{{ lp_smart_service }}"
    state: started
    enabled: yes
  register: result
  when: lp_smart_enable|bool
  tags: lp_smart_service

- name: "smart: Debug service"
  debug:
    var: result
  when: lp_smart_debug|bool

- name: "smart: Stop and disable smart"
  service:
    name: "{{ lp_smart_service }}"
    state: stopped
    enabled: no
  register: result
  when: not lp_smart_enable|bool
  tags: lp_smart_service

- name: "smart: Debug service"
  debug:
    var: result
  when: lp_smart_debug|bool

# EOF
...
