---
# linux_postinstall ssh

- name: "Ssh: Debug lp_ssh_debug={{ lp_ssh_debug }}"
  when: lp_ssh_debug | bool
  tags: lp_ssh_debug
  vars:
    msg: |-
      ansible_os_family: {{ ansible_facts['os_family'] }}
      lp_ssh_config:
        {{ lp_ssh_config | to_yaml(indent=2) | indent(2) }}
      lp_backup_conf: {{ lp_backup_conf }}
  ansible.builtin.debug:
    msg: "{{ '{}'.format(msg) }}"

- name: "Ssh: Configure /etc/ssh/ssh_config"
  tags: lp_ssh_conf
  ansible.builtin.template:
    src: ssh_config.j2
    dest: /etc/ssh/ssh_config
    backup: "{{ lp_backup_conf }}"
    mode: "0644"

# EOF
