---
# linux-postinstall ssh

- name: Debug
  vars:
    msg: |
      lp_ssh_config [
      {{ lp_ssh_config | to_yaml }}
      ]
  debug:
    msg: "{{ msg.split('\n') }}"
  when: lp_debug

- name: "ssh: Configure /etc/ssh/ssh_config"
  template:
    src: "ssh_config.j2"
    dest: "/etc/ssh/ssh_config"
    backup: yes

# EOF
...
