---
# linux_postinstall sudoers

- name: "Sudoers: Debug lp_sudoers_debug={{ lp_sudoers_debug }}"
  when: lp_sudoers_debug | bool
  tags: lp_sudoers_debug
  vars:
    msg: |-
      ansible_os_family: {{ ansible_facts['os_family'] }}
      lp_sudoers_conf:
        {{ lp_sudoers_conf | to_yaml(indent=2) | indent(2) }}
      lp_backup_conf: {{ lp_backup_conf }}
  ansible.builtin.debug:
    msg: "{{ '{}'.format(msg) }}"

- name: "Sudoers: Configure /etc/sudoers"
  tags: lp_sudoers_conf
  ansible.builtin.lineinfile:
    path: /etc/sudoers
    line: "{{ item.line }}"
    state: "{{ item.state | d('present') }}"
    backup: "{{ lp_backup_conf }}"
    create: true
    mode: "0440"
  loop: "{{ lp_sudoers_conf }}"

- name: "Sudoers: Configure /etc/sudoers.d/01"
  tags: lp_sudoers_dconf
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/01
    line: "{{ item }}"
    owner: "{{ lp_sudoers_owner }}"
    group: "{{ lp_sudoers_group }}"
    mode: "{{ lp_sudoers_mode }}"
    backup: "{{ lp_backup_conf }}"
    create: true
  loop: "{{ lp_sudoers_01 }}"

# EOF
