---
# linux_postinstall vars_incremental

- name: "vars_incemental: Include default vars for
              [{{ ansible_os_family }},
               {{ ansible_distribution }},
               {{ ansible_distribution_release }}]"
  ansible.builtin.include_vars: "{{ item }}"
  register: result
  loop:
    - "{{ my_path }}/defaults.yml"
    - "{{ my_path }}/default.yml"
    - "{{ my_path }}/{{ ansible_os_family }}.yml"
    - "{{ my_path }}/{{ ansible_distribution }}.yml"
    - "{{ my_path }}/{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml"
  when: item is exists
  vars:
    my_path: "{{ role_path }}/vars/defaults.incr"

- name: "vars_incemental: Debug include default vars"
  ansible.builtin.debug:
    var: result
  when: lp_debug|bool

- name: "vars_incemental: Include custom vars for
              [{{ ansible_os_family }},
               {{ ansible_distribution }},
               {{ ansible_distribution_release }}]"
  ansible.builtin.include_vars: "{{ item }}"
  register: result
  loop:
    - "{{ my_path }}/defaults.yml"
    - "{{ my_path }}/default.yml"
    - "{{ my_path }}/{{ ansible_os_family }}.yml"
    - "{{ my_path }}/{{ ansible_distribution }}.yml"
    - "{{ my_path }}/{{ ansible_distribution }}-{{ ansible_distribution_release }}.yml"
  when: item is exists
  vars:
    my_path: "{{ role_path }}/vars"

- name: "vars_incemental: Debug include custom vars"
  ansible.builtin.debug:
    var: result
  when: lp_debug|bool

# EOF
...
