---
# linux_postinstall vars

- name: "Vars: Include firstfound default vars"
  ansible.builtin.include_tasks: vars_firstfound.yml
  when: lp_vars_distro == 'firstfound'

- name: "Vars: Include incremental default vars"
  ansible.builtin.include_tasks: vars_incremental.yml
  when: lp_vars_distro == 'incremental'

- name: "Vars: Include firstfound default vars for various flavors"
  ansible.builtin.include_tasks: sub/vars_flavors.yml
  when: lp_flavors_enable|bool

# TODO "vars: Include incremental default vars for various flavors"

# EOF
