---
# linux_postinstall xen

- name: "xen: Debug"
  vars:
    msg: |-
      ansible_os_family: {{ ansible_os_family }}
      lp_xen_packages:
        {{ lp_xen_packages|to_nice_yaml(indent=2)|indent(2) }}
      lp_xen_dom0_mem:
        {{ lp_xen_dom0_mem|to_nice_yaml(indent=2)|indent(2) }}
      lp_xen_default_grub_conf:
        {{ lp_xen_default_grub_conf|to_nice_yaml(indent=2)|indent(2) }}
      lp_xen_global:
        {{ lp_xen_global|to_nice_yaml(indent=2)|indent(2) }}
      lp_backup_conf: {{ lp_backup_conf }}
  ansible.builtin.debug:
    msg: "{{ '{}'.format(msg) }}"
  when: lp_xen_debug|bool
  tags: lp_xen_debug

- name: "xen: Install packages"
  ansible.builtin.include_tasks:
    file: fn/install-package.yml
    apply:
      tags: lp_xen_packages
  loop: "{{ lp_xen_packages }}"
  when: lp_xen_install|bool
  tags: lp_xen_packages

- name: "xen: Configure /etc/default/grub"
  ansible.builtin.lineinfile:
    dest: /etc/default/grub
    regexp: '^\s*{{ item.key }}\s*=\s*(.*)$'
    line: "{{ item.key }}={{ item.value }}"
    backup: "{{ lp_backup_conf }}"
  loop: "{{ lp_xen_default_grub_conf }}"
  notify: update grub
  tags: lp_xen_default_grub

- name: "xen: Configure /etc/xen/xl.conf"
  ansible.builtin.lineinfile:
    dest: /etc/xen/xl.conf
    regexp: '^\s*{{ item.var }}\s*=\s*(.*)$'
    line: "{{ item.var }}={{ item.value }}"
    backup: "{{ lp_backup_conf }}"
    create: true
    mode: "0644"
  loop: "{{ lp_xen_global }}"
  tags: lp_xen_global

# EOF
...
