Handlers
========

{% for i in myhandlers %}
.. _as_handler_{{ i.link }}:

{{ i.file }}
{{ '-' * i.file|length }}

Synopsis: {{ i.synopsis }}

{{ i.description }}

[`{{ i.path }} <https://github.com/vbotka/ansible-freebsd-postinstall/blob/2.0-stable/{{ i.path }}>`_]

.. highlight:: yaml
    :linenothreshold: 5
.. literalinclude:: ../../{{ i.path }}
    :language: Yaml
    :emphasize-lines: {{ i.lines }}
    :linenos:

{% if i.seealso|length > 0 %}
.. seealso:: 

{% endif %}
{% if i.note|length > 0 %}
.. note::

{% endif %}
{% if i.warning|length > 0 %}
.. warning::

{% endif %}
{% endfor %}
