.. _as_handlers:

Handlers
========

{% for i in myhandlers %}
.. _as_handler_{{ i.link }}:

{{ i.file }}
{{ '-' * i.file | length }}

Synopsis: {{ i.synopsis }}

{{ i.description }}

[`{{ i.path }} <https://github.com/__GITHUB_USERNAME__/__PROJECT__/blob/__BRANCH__/{{ i.path }}>`_]

.. highlight:: yaml
    :linenothreshold: 5
.. literalinclude:: ../../{{ i.path }}
    :language: yaml
    :emphasize-lines: {{ i.lines }}
    :linenos:

{% if i.seealso | length > 0 %}
.. seealso::
{% for ii in i.seealso.others | d([]) %}
   * {{ ii }}
{% endfor %}
{% endif %}

{% if i.notes | length > 0 %}
.. note::
{% for note in i.notes %}
   * {{ note }}
{% endfor %}
{% endif %}

{% if i.hints | length > 0 %}
.. hint::
{% for hint in i.hints %}
   * {{ hint }}
{% endfor %}
{% endif %}

{% if i.warnings | length > 0 %}
.. warning::
{% for warning in i.warnings %}
   * {{ warning }}
{% endfor %}
{% endif %}

{% endfor %}
