#jinja2: trim_blocks:False
---
mytasks:
  - file: main.yml
    link: main.yml
    path: tasks/main.yml
    synopsis: |
      Main task.
    description: |
      Import tasks if enabled.
    lines: 1,2
    seealso: []
    notes: []
    hints: []
    warnings: []
{% for f in my_files %}
  - file: {{ f.base_name }}
    link: {{ f.base_name }}
    path: tasks/{{ f.path }}
    synopsis: |
      {{ lookup('vars', 'task_' ~ f.file_name ~ '_synopsis', default='Configure ' ~ f.file_name) | indent(width=6) }}
    description: |
      {{ lookup('vars', 'task_' ~ f.file_name ~ '_description', default='Description of the task.') | indent(width=6) }}
    lines: {{ lookup('vars', 'task_' ~ f.file_name ~ '_lines', default='1') }}
    seealso:
      {{ lookup('vars', 'task_' ~ f.file_name ~ '_seealso', default={}) | from_yaml | to_nice_yaml(indent=2) | indent(6) }}
    notes:
      {{ lookup('vars', 'task_' ~ f.file_name ~ '_note', default=[]) | from_yaml | to_nice_yaml(indent=2) | indent(6) }}
    hints:
      {{ lookup('vars', 'task_' ~ f.file_name ~ '_hint', default=[]) | from_yaml | to_nice_yaml(indent=2) | indent(6) }}
    warnings:
      {{ lookup('vars', 'task_' ~ f.file_name ~ '_warning', default=[]) | from_yaml | to_nice_yaml(indent=2) | indent(6) }}
{% endfor %}
...
