---

- name: gpgconf kill gpg-agent
  command: gpgconf --kill gpg-agent
  loop: "{{ lp_gpg_agent_conf_changes.results }}"
  loop_control:
    label: "{{ item.item.owner }}"
  become: "{{ item.item.owner }}"
  when: item.changed|bool

- name: gpgconf kill dirmngr
  command: gpgconf --kill dirmngr
  loop: "{{ lp_gpg_dirmngr_conf_changes.results }}"
  loop_control:
    label: "{{ item.item.owner }}"
  become: "{{ item.item.owner }}"
  when: item.changed|bool

# EOF
...
