---

- name: create and mount swap file
  shell:
    cmd: >
      sh -c
      'dd if=/dev/zero of={{ lp_swap_file }} bs=1M count={{ lp_swap_size }} &&
      chmod 0600 {{ lp_swap_file }} &&
      mkswap {{ lp_swap_file }} &&
      swapon {{ lp_swap_file }}'
  when: lp_swap_enable|bool

- name: change and mount swap file
  shell:
    cmd: >
      sh -c
      'swapoff {{ lp_swap_file }} &&
      dd if=/dev/zero of={{ lp_swap_file }} bs=1M count={{ lp_swap_size }} &&
      chmod 0600 {{ lp_swap_file }} &&
      mkswap {{ lp_swap_file }} &&
      swapon {{ lp_swap_file }}'
  when: lp_swap_enable|bool

- name: remove swap file
  shell:
    cmd: >
      sh -c
      'swapoff {{ lp_swap_file }} && rm {{ lp_swap_file }}'
  when: not lp_swap_enable|bool

# EOF
...
