---
# linux-postinstall function remove-package

- name: "fn remove-package: {{ lp_package_state_remove }} package: {{ item }}"
  package:
    name: "{{ item }}"
    state: "{{ lp_package_state_remove }}"
  register: result
  retries: "{{ lp_install_retries }}"
  until: result is succeeded
  delay: "{{ lp_install_delay }}"

- name: "function: Autoremove packages"
  apt:
    autoremove: true
  register: result
  retries: "{{ lp_install_retries }}"
  until: result is succeeded
  delay: "{{ lp_install_delay }}"
  when:
    - ansible_os_family == "Debian"
    - lp_packages_autoremove

# EOF
...
