---
lp_libvirt: false
lp_libvirt_guests_enable: false
lp_libvirt_libvirtd_enable: false

lp_libvirt_packages:
  - libvirt0
  - libvirt-bin
  - libvirt-daemon
  - libvirt-daemon-system
  - libvirt-daemon-driver-storage-rbd
  - libvirt-daemon-driver-storage-zfs
  - virtinst
  - virt-manager

lp_libvirt_conf:
  libvirt-admin.conf: []
  libvirt.conf: []
  libvirtd.conf:
    - ["unix_sock_group", "\"libvirt\""]
    - ["unix_sock_ro_perms", "\"0777\""]
    - ["unix_sock_rw_perms", "\"0770\""]
    - ["auth_unix_ro", "\"none\""]
    - ["auth_unix_rw", "\"none\""]
  libxl.conf: []
  libxl-lockd.conf: []
  lxc.conf: []
  qemu.conf: []
  qemu-lockd.conf: []
  qemu-sanlock.conf: []
  virtlockd.conf: []
  virt-login-shell.conf: []
