---
lp_ssh: true
lp_ssh_Protocol: "2"
lp_ssh_ForwardAgent: "no"
lp_ssh_ForwardX11: "no"
lp_ssh_HostbasedAuthentication: "no"
lp_ssh_StrictHostKeyChecking: "no"
# lp_ssh_Ciphers: " aes128-ctr,aes192-ctr,aes256-ctr,arcfour256,arcfour128,aes128-cbc,3des-cbc"
lp_ssh_Ciphers: " aes128-ctr,aes192-ctr,aes256-ctr,aes128-cbc,3des-cbc"
lp_ssh_Tunnel: "no"
lp_ssh_ServerAliveInterval: "420"
lp_ssh_config:
  - host: "*"
    conf:
      - {key: "SendEnv", val: "LANG LC_*"}
      - {key: "HashKnownHosts", val: "no"}
      - {key: "GSSAPIAuthentication", val: "yes"}
      - {key: Protocol, val: "{{ lp_ssh_Protocol }}"}
      - {key: ForwardAgent, val: "{{ lp_ssh_ForwardAgent }}"}
      - {key: ForwardX11, val: "{{ lp_ssh_ForwardX11 }}"}
      - {key: HostbasedAuthentication, val: "{{ lp_ssh_HostbasedAuthentication }}"}
      - {key: StrictHostKeyChecking, val: "{{ lp_ssh_StrictHostKeyChecking }}"}
      - {key: Ciphers, val: "{{ lp_ssh_Ciphers }}"}
      - {key: Tunnel, val: "{{ lp_ssh_Tunnel }}"}
      - {key: ServerAliveInterval, val: "{{ lp_ssh_ServerAliveInterval }}"}
