lp_users:
  - name: "ansible"
    shell: "/bin/sh"
  - name: "admin"
    shell: "/bin/bash"
#   password: "<my-generated-password>"
#   update_password: "on_create"
#
# SEE: How do I generate crypted passwords for the user module?
# http://docs.ansible.com/ansible/faq.html#how-do-i-generate-crypted-passwords-for-the-user-module
# example: mkpasswd --method=SHA-512 PASSWORD -s SALT
# SALT can be created with: pwgen -s 16 1
#
# groups must not comprise primary group
lp_users_groups:
  - name: "admin"
    groups: "adm, dialout"
# - name: "user1"
#   groups: "adm, admin, audio, cdrom, dialout, dip, disk, kvm, libvirt, lpadmin, plugdev, sudo, sambashare, scanner, users" }
