---

lp_gpg: true
lp_gpg_install: true
lp_gpg_debug: false
# lp_backup_conf: true

lp_gpg_conf:
  - owner: admin
    component: gpg
    conf:
      - {key: keyserver, value: "hkps://keyserver.ubuntu.com"}
      - {key: use-agent}
      - {key: personal-digest-preferences, value: SHA512}
      - {key: cert-digest-algo, value: SHA512}
      - {key: digest-algo, value: SHA512}
      - {key: default-preference-list, value: SHA512 SHA384 SHA256 SHA224 AES256 AES192 AES CAST5 ZLIB BZIP2 ZIP Uncompressed}
  - owner: admin
    component: gpg-agent
    conf:
      - key: no-grab
      - {key: debug-level, value: none}
#     - key: no-allow-external-cache
#     - {key: pinentry-program, value: /usr/bin/pinentry-curses}
#     - {key: default-cache-ttl, value: "172800"}  #  2 days
#     - {key: max-cache-ttl, value: "2592000"}     # 30 days
  - owner: admin
    component: dirmngr
    conf:
      - key: disable-ipv6
      - {key: debug-level, value: none}
      - {key: log-file, value: '~/.gnupg/dirmngr.log'}

lp_gpg_packages_extra:
  - pinentry-curses

# EOF
...
