---

lp_grub_default:
 - {var: GRUB_SAVEDEFAULT, value: 'False'}
 - {var: GRUB_DEFAULT, value: 0}
 - {var: GRUB_TIMEOUT, value: 10}
 - {var: GRUB_HIDDEN_TIMEOUT, value: 0}
 - {var: GRUB_HIDDEN_TIMEOUT_QUIET, value: 'True'}
 - {var: GRUB_DISTRIBUTOR, value: "`lsb_release -i -s 2> /dev/null || echo Debian`"}
 - {var: GRUB_CMDLINE_LINUX_DEFAULT, value: '"quiet splash"'}
 - {var: GRUB_CMDLINE_LINUX, value: '""'}
