---

lp_repos:
 - repo: 'deb http://archive.canonical.com/ubuntu artful partner'
 - repo: 'deb http://packages.cloud.google.com/apt cloud-sdk-artful main'
 - repo: 'deb http://ppa.launchpad.net/ansible/ansible-2.4/ubuntu artful main'
lp_repos_keys:
 - url: 'https://packages.cloud.google.com/apt/doc/apt-key.gpg'
 - keyserver: 'keyserver.ubuntu.com'
   id: '6125E2A8C77F2818FB7BD15B93C4A3FD7BB9C367'

# Notes on issues still open 08/2019)
# 1) apt_repository: does not understand arch= option #18975 (reported Dec 8, 2016)
# https://github.com/ansible/ansible/issues/18975
# 2) apt-repository drops the arch specification given in the source string of the repo parameter #23690
# https://github.com/ansible/ansible/issues/23690
