# {{ ansible_managed }}

{% if lp_chrony_conf is mapping %}
{% for key,val in lp_chrony_conf.items() %}
{% if val is string %}
{{ key }} {{ val }}
{% elif val is boolean %}
{{ key }}
{% elif val is iterable %}
{% for j in val %}
{{ key }} {{ j }}
{% endfor %}
{% else %}
{{ key }} {{ val }}
{% endif %}
{% endfor %}
{% else %}
{% for i in lp_chrony_conf %}
{% if i.val is string %}
{{ i.key }} {{ i.val }}
{% elif i.val is boolean %}
{{ i.key }}
{% elif i.val is iterable %}
{% for j in i.val %}
{{ i.key }} {{ j }}
{% endfor %}
{% else %}
{{ i.key }} {{ i.val }}
{% endif %}
{% endfor %}
{% endif %}

# EOF
