# {{ ansible_managed }}

*mangle
:PREROUTING ACCEPT [807882:1458046375]
:INPUT ACCEPT [807882:1458046375]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [462967:52482275]
:POSTROUTING ACCEPT [463099:52489699]
COMMIT

*filter
:INPUT ACCEPT [807881:1458044875]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [462967:52482275]
COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
COMMIT
