# {{ ansible_managed }}

# default
{% for conf in lp_gpg_agent_conf_default %}
{{ conf.key }} {{ conf.value|default('') }}
{% endfor %}

# user
{% for conf in item.conf %}
{{ conf.key }} {{ conf.value|default('') }}
{% endfor %}
