# {{ ansible_managed }}

# lp_hosts_default
{% for item in lp_hosts_default %}
{{ "%-20s" | format(item.ip) }}     {{ item.name1 }} {{ item.name2|default('') }} {{ item.name3|default('') }} {{ item.name4|default('') }}
{% endfor %}

# lp_hosts
{% for item in lp_hosts %}
{{ "%-20s" | format(item.ip) }}     {{ item.fqdn }} {{ item.hostname|default('') }}
{% endfor %}

# EOF
