#!/bin/sh
# {{ ansible_managed }}

PATH={{ item.value.path }}

case "$1" in
    suspend|hibernate)
{% for command in item.value.suspend_hibernate | d([]) %}
          {{ command  }}
{% endfor %}
          ;;
    resume|thaw)
{% for command in item.value.resume_thaw %}
          {{ command }}
{% endfor %}
          ;;
esac
exit 0

# EOF
