# {{ ansible_managed }}
# {{ template_path }}

{% for k,v in db_wpa_supplicant_conf_common.items() %}
{{ k }}={{v }}
{% endfor %}
{% for i in db_wpa_supplicant_conf | sort(attribute='ssid') %}

network={
{% for k,v in i.items() %}
{% if k in ['ssid', 'psk'] %}
{{ '\t' }}{{ k }}="{{ v }}"
{% else %}
{{ '\t' }}{{ k }}={{ v }}
{% endif %}
{% endfor %}
}
{% endfor %}
