#!/bin/bash

# All rights reserved (c) 2019, Vladimir Botka <vbotka@gmail.com>
# Simplified BSD License, https://opensource.org/licenses/BSD-2-Clause

# See Ansible Galaxy role Linux postinstall
# https://github.com/vbotka/ansible-linux-postinstall
# https://github.com/vbotka/ansible-linux-postinstall/blob/master/templates/wpa_action.sh.j2

# Example how to activate the script
# wpa_cli -B -i wlan2 -a /root/bin/wpa_action.sh

ifname=$1
cmd=$2

dhclient="{{ lp_wpa_action_script_dhclient }}"
pidfile="{{ lp_wpa_action_script_pidfile }}"
options_connect="{{ lp_wpa_action_script_options_connect }}"
options_disconnect="{{ lp_wpa_action_script_options_disconnect }}"
logfile="{{ lp_wpa_action_script_logfile }}"

my_date=`date +"%b %d %T"`
printf "$my_date $ifname: $cmd \n" >> $logfile

if [ "$cmd" == "CONNECTED" ]; then
    #SSID=`wpa_cli -i$ifname status | grep ^ssid= | cut -f2- -d=`
    $dhclient $options_connect $ifname
fi
if [ "$cmd" == "DISCONNECTED" ]; then
    $dhclient $options_disconnect $ifname
fi
exit 0

# EOF
